<div id="landingDiv" class="text-center">
  <div class="row">
    <div class="col-sm-12">
      <h3> Geo-localized peer-to-peer lending platform </h3>
      <h4> Discover financing through personal connection </h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <h3> Are you a prospective borrower? </h3>
      <h5> Login or Register to set up your profile: </h5>

      <div><a href="/login" class="btn btn-default authButtons" id="localLoginButton"><span class="fa fa-user"></span> Login</a></div>
      <div><a href="/signup" class="btn btn-default authButtons" id="localSignupButton"><span class="fa fa-user"></span> Signup</a></div>

      <h4> Or continue with: </h4>
      <div><a redir href="/auth/facebook" class="btn btn-primary authButtons" id="facebookButton"><span class="fa fa-facebook"></span> Facebook</a></div>
      <div><a redir href="/auth/twitter" class="btn btn-info authButtons" id="twitterButton"><span class="fa fa-twitter"></span> Twitter</a></div>
      <div><a redir href="/auth/google" class="btn btn-danger authButtons" id="googleButton"><span class="fa fa-google-plus"></span> Google+</a></div>
    </div>

    <div class="col-sm-6">
      <h3> Are you prospective lender? </h3>
      <h5> Invest in local borrowers near you: </h5>
    </div>

  </div>
</div>