<!DOCTYPE html>
<html>
  <head>
    <title> P2P Lending Platform </title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1> Node Authentication </h1>
        <p> Log in or register </p>

        <a href="/login" class="btn btn-default"> Local Log-In </a>
        <a href="/signup" class="btn btn-default"> Local Sign-Up </a>
        <a href="/auth/facebook" class="btn btn-default"><span class="fa fa-facebook"> Facebook </span> </a>
        <a href="/auth/twitter" class="btn btn-default"><span class="fa fa-twitter"> Twitter </span> </a>
        <a href="/auth/google" class="btn btn-default"><span class="fa fa-google-plus"> Google </span> </a>
      </div>
    </div>
  </body>
</html>