<!DOCTYPE html>
<html>
  <head>
    <title> P2P Lending Platform </title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <h1> Welcome </h1>
    <a href="/logout" class="btn btn-default btn-sm"> LOGOUT </a>
    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
  </body>
</html>